parameters:
  level: max
  paths:
    - .phan
    - stubs/
  ignoreErrors:
    - '#but return statement is missing\.$#'
    - '#^Constructor of class [a-zA-Z0-9_]+ has an unused parameter \$[a-zA-Z0-9_]+\.$#'
